.cur-p {
  cursor: pointer;
}

ul.languages {
  list-style: none;
}

ul.languages li.is-invalid {
  border: 5px solid #dc3545;
}


ul.languages li.active {
  background: var(--orange);
}

ul.languages li {
  border-radius: 25px;
}

.languages svg {
    width: 40px;
}

#languages > div {
  display: none;
} 

#languages > div.active {
  display: block !important;
}
