Options -Indexes
RewriteEngine on

RewriteBase /grandboatsheroku/

RewriteCond %{REQUEST_URI} ^/grandboatsheroku/admin(.+)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ admin/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]
